REDCAP_API_URL=https://portal.rimuhc.ca/cim/redcap/api/
REDCAP_API_TOKEN=YOUR_API_TOKEN
LOG_LEVEL=INFO
# Output folder for generated CSV files
OUTPUT_FOLDER=output
# Network share where final CSV files will be copied
NETWORK_SHARE=\\server\share\CIM